{% extends "blog_base.html" %}
{% load static %}
{% block left-container %}
    <article class="article-block article-detail">

        <h3>关于本站</h3>
        <p>本站作为自己在从运维走向开发道路的一个练习项目采用django+bootstrap3+mysql手工打造,
            前段不知如何入手，样式和布局模仿了很多网站 简书,廖雪峰,还有其他很多人的博客 ..，模仿的总算能看得过眼 就放到腾讯云上开始装逼.
        </p>
        <p>
            文章内容比较基础，主要记录自己的工作学习笔记，
            因为IT行业要学的东西很多，一个人要想所有东西都精通很难，毕竟精力有限，要相信理论指导实践，以不变应万变
        </p>
        <p>
            本来域名opdays代表运维的每一天，却被我搞成听歌的了,数据库没设计好fuck
        </p>
    </article>

{% endblock %}


