{% extends "blog_base.html" %}

{% load custom_markdown %}
{% block left-container %}
    <article class="article-block article-detail" id="{{ article.id }}">


        <div class="post-head">
            <h1 class="post-title"><a href="{% url 'article_detail' id=article.id %}">{{ article.title }}</a>
            </h1>
            <div class="post-meta">
                    <span class="author">标签：
                        {% for tag in article.tags.all %}
                            <a href="{% url 'tag_list' tag=tag page='' %}">{% color_tag tag color=tag.color %}  </a>
                        {% endfor %}
                    </span> •
                <time class="post-date" datetime="{{ article.date_time|date:'Y年m月d日 H时M分S秒' }}"
                      title="{{ article.date_time|date:'Y年m月d日 H时M分S秒' }}">
                    {{ article.date_time|date:'Y-m-d' }}</time>
                <span class="praise"><i class="fa fa-thumbs-up"
                                        aria-hidden="true"></i>{{ article.praises.all|length }}<span>
            </div>
        </div>
        <div class="post-content">
            {{ article.content|custom_markdown }}
        </div>
        <footer class="post-footer clearfix">
            <div>
                <button class="btn btn-danger btn-lg center-block praise">
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>赞一下
                </button>

            </div>

            <div id="praise-wrapper" class="praise-wrapper">
                <div class="tie-title-bar"><span class="tie-title">网友点赞 {{ article.praises.all|length }}个赞
                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                </span>

                </div>

                <div class="praise-list">
                    <ul class="list-group">
                        {% for priaise in article.praises.all reversed %}
                            <li class="list-group-item">
                                <div class="row container-fluid">
                                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                                        <span>{{ priaise.description }}</span>
                                        <i class="fa fa-star"
                                           aria-hidden="true"></i>
                                        <div class="time pull-right">
                                            <span>{{ priaise.date_time | date:'Y年m月d日 H时i分s秒' }}</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                                        <p>{{ priaise.ip }}</p>
                                        <p>{{ priaise.contry }} {{ priaise.city }}</p>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>

                </div>

            </div>


            <div class="pull-left tag-list">

            </div>
            <div class="pull-right share">


            </div>
        </footer>


    </article>

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="praise_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">点赞</h4>
                </div>
                <div class="modal-body">
                    <h4 id="ip"></h4>
                    <h4 id="city"></h4>
                    <h4 id="contry"></h4>
                    描述:<input class="form-control" type="text" id="description">
{#                    {% include "demo2.html" %}速度太慢fuck#}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-success" id="submit_praise">点赞</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <button class="btn btn-danger praise" id="go_parise" type="button">赞</button>



{% endblock %}
{% block right-container %}
    <aside class="sidebar wihite-block" style="position: fixed;">
    <ul id="tree" class="list-group" style="list-style: none;">

    </ul>
    </aside>

{% endblock %}
{% load static %}
{% block custom_css %}
{% endblock %}
{% block custom_js %}
<script src="{% static '/jquery/jquery.ztree.core-3.5.min.js' %}"></script>
<script src="{% static '/jquery/jquery.ztree_toc.js' %}"></script>
    <script>
    	$(document).ready(function(){
		$('#tree').ztree_toc({
			is_auto_number:true,
            documment_selector: '.post-content',
            is_highlight_selected_line:true,
            ztreeStyle: {

			}
		});
		$("#right-container").removeClass("col-lg-offset-1 col-md-offset-1");
		$("aside.wihite-block").css("background","#222");
	});
    </script>
    <script>
        /*百度分享*/
        var logo = location.protocol + "//" + location.host + "/static/images.jpg";
        window._bd_share_config = {
            "common": {
                "bdSnsKey": {},
                "bdText": "{{ article.title }}",
                "bdMini": "2",
                "bdMiniList": false,
                "bdPic": {% if article.image_url  %} "{{ article.image_url  }}" {% else %} logo {% endif %},
                "bdStyle": "0",
                "bdSize": "4",
                bdDesc: "{{ article.title }}",
                bdUrl: window.location.href,
            },
            "slide": {
                "type": "slide",
                "bdImg": "7",
                "bdPos": "left",
                "bdTop": "183.66665649414062"
            }
        };
        with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
        $(function () {
            $('.btn.praise').click(function () {
                var result = null;
                $.ajax({
                    url: "{%  url "query_ip" %}",
                    type: "GET",
                    dateType: "json",
                    success: function (result) {
                        $(".modal-body #contry").html(result.contry);
                        $(".modal-body #city").html(result.city);
                        $(".modal-body #ip").html(result.ip);
                    },
                });

                $('#praise_modal').modal();
            });
            $("#submit_praise").click(function () {
                var postObject = {};
                postObject.ip = $(".modal-body #ip").text();
                postObject.contry = $(".modal-body #contry").text();
                postObject.city = $(".modal-body #city").text();
                postObject.description = $(".modal-body #description").val();
                postObject.article_id = $("article.article-block.article-detail").attr('id');
                if (description.length >= 10) {
                    alert("不能多于200个字符");
                    return true;
                }
                console.log(postObject.description);
                $.ajax({
                    url: "{% url "submit_praise" %}",
                    type: "POST",
                    data: postObject,
                    success: function (result) {
                        location.reload();
                    },
                    error: function (error) {
                        alert("描述重复了");
                    }

                });
            });
        })
    </script>
{% endblock %}
