{% extends "blog_base.html" %}

{% load custom_markdown %}
{% block left-container %}
    {% if article.type == 'markdown' %}
        <link rel="stylesheet" href="/static/code.css"/> <!--markdown代码高亮标题-->
        <link rel="stylesheet" href="/static/article/md.css"/> <!--转换标题-->
    {% else %}
        <link rel="stylesheet" href="/static/root/lib/wangEditor/dist/css/sublime.css"/> <!--富文本代码高亮-->
    {% endif %}
    <article class="article-block article-detail {{ article.type }}" id="{{ article.id }}">


        <div class="post-head">
            <h3 class="post-title"><a href="{% url 'article_detail' id=article.id %}">{{ article.title }}</a>
            </h3>
            <div class="post-meta">
                    <span class="author">标签：
                        {% for tag in article.tags.all %}
                            <a href="{% url 'tag_list' tag=tag page='' %}">{% color_tag tag color=tag.color %}  </a>
                        {% endfor %}
                    </span> •
                <time class="post-date" datetime="{{ article.date_time|date:'Y年m月d日 H时M分S秒' }}"
                      title="{{ article.date_time|date:'Y年m月d日 H时M分S秒' }}">
                    {{ article.date_time|date:'Y-m-d' }}</time>
                <span class="praise">
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                      {{ article.praises.all|length }} </span>
                <span class="praise">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                      {{ article.view }} <span>
            </div>
        </div>
        <div class="post-content">
            {% if article.type  == 'markdown' %}
                {{ article.content|custom_markdown }}
            {% else %}
                {{ article.content|safe }}
            {% endif %}
        </div>
        <footer class="post-footer clearfix">
            <div>
                <button class="btn btn-danger btn-lg center-block praise">
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>赞一下
                </button>

            </div>

            <div id="praise-wrapper" class="praise-wrapper">
                <div class="tie-title-bar"><span class="tie-title">网友点赞 {{ article.praises.all|length }}个赞
                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                </span>

                </div>

                <div class="praise-list">
                    <ul class="list-group">
                        {% for priaise in article.praises.all reversed %}
                            <li class="list-group-item">
                                <div class="row container-fluid">
                                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                                        <span>{{ priaise.description }}</span>
                                        <i class="fa fa-star"
                                           aria-hidden="true"></i>
                                        <div class="time pull-right">
                                            <span>{{ priaise.date_time | date:'Y年m月d日 H时i分s秒' }}</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                                        <p>{{ priaise.ip }}</p>
                                        <p>{{ priaise.contry }} {{ priaise.city }}</p>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>

                </div>

            </div>


            <div class="pull-left tag-list">

            </div>
            <div class="pull-right share">


            </div>
        </footer>


    </article>

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="praise_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">点赞</h4>
                </div>
                <div class="modal-body">
                    <h4 id="ip"></h4>
                    <h4 id="city"></h4>
                    <h4 id="contry"></h4>
                    描述:<input class="form-control" type="text" id="description">
                    {#                    {% include "demo2.html" %}速度太慢fuck#}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-success" id="submit_praise">点赞</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <button class="btn btn-danger praise" id="go_parise" type="button">赞</button>



{% endblock %}
{% block right-container %}
    {{ block.super }}
{% endblock %}
{% load static %}
{% block custom_css %}

{% endblock %}
{% block custom_js %}


        <script>

            $(document).ready(function () {
{#                $('.html pre').css('padding', '0px');#}
                // /*百度分享*/
                var logo = location.protocol + "//" + location.host + "/static/images.jpg";
                window._bd_share_config = {
                    "common": {
                        "bdSnsKey": {},
                        "bdText": "{{ article.title }}",
                        "bdMini": "2",
                        "bdMiniList": false,
                        "bdPic": "",
                        "bdStyle": "0", "bdSize": "4",
                        bdDesc: "{{ article.title }}",
                        bdUrl: window.location.href,
                    },
                    "slide": {
                        "type": "slide",
                        "bdImg": "7",
                        "bdPos": "left",
                        "bdTop": "183.66665649414062"
                    }
                };
                with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
            });

        </script>
{% endblock %}
