{% load custom_markdown %}
<div id="list-container">

    <!-- 文章列表模块 -->
    <ul class="note-list">
        {% for article in articles %}
            <div class="article-block" id="{{ article.id }}">

                <li>
                    <div class="row container-fluid">
                        {% if article.image_url %}
                            <div class="col-lg-8 col-md-8 col-xs-8 col-sm-8">
                        {% else %}
                            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                        {% endif %}
                        <div class="">
                            <a class="title" target="_blank"
                               href="{% url 'article_detail' id=article.id %}">{{ article.title }}</a>
                            <div class="abstract hidden-xs">
                                {{ article.content|custom_markdown|truncatewords_html:"10"|striptags }}
                            </div>
                            <div class="meta">
                                <i class="fa fa-tags"></i>
                                {% for tag in article.tags.all %}
                                    <a href="{% url 'tag_list' tag=tag page='' %}">
                                        {% color_tag tag color=tag.color %}</a>
                                {% endfor %}

                                <time class="post-date" datetime="{{ article.date_time|date:'Y年m月d日 H时M分' }}">
                                    {{ article.date_time|date:'Y年m月d日 H:i' }}</time>
                                <span><i class="fa fa-eye"></i> 189</span>
                            </div>
                        </div>
                        </div>
                        {% if article.image_url %}
                            <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                                <a href="{% url 'article_detail' id=article.id %}" ><img
                                        src="{{ article.image_url }}" class="img-responsive img-rounded"
                                        alt=""></a>

                            </div>
                        {% endif %}
                        </div>

                </li>
            </div>
        {% endfor %}

    </ul>
    <!-- 文章列表模块 -->
</div>