<ul class="list-group">
    <li class="list-group-item">
        <span><i class="fa fa-home"></i>&nbsp;&nbsp;&nbsp;<a href="/root">仪表盘</a></span>
    </li>
    <li class="list-group-item">
        <i class="fa fa-book"></i>&nbsp;&nbsp;&nbsp;<a href="/root/article">文章管理</a>
    </li>
    <li class="list-group-item">
        <i class="fa fa-tag"></i>&nbsp;&nbsp;&nbsp;<a href="#">标签管理</a>
    </li>
    <li class="list-group-item">
        <i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp;&nbsp;<a href="#">友链管理</a>
    </li>
    <li class="list-group-item">
        <i class="fa fa-comment-o"></i>&nbsp;&nbsp;&nbsp;<a href="#">评论管理</a>
    </li>
</ul>