<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<!--[if lt IE 9]>
<![endif]-->
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css"/>

<link rel="stylesheet" href="/static/bootstrap/font-awesome-4.7.0/css/font-awesome.min.css"/>
<link rel="stylesheet" href="/static/root/mycss/style.css"/>
<link rel="stylesheet" href="/static/root/mycss/style-responsive.css"/>
<link rel="stylesheet" href="/static/root/mycss/root.css"/>
<link rel="stylesheet" href="/static/root/lib/wangEditor/dist/css/wangEditor.min.css" />
<link rel="stylesheet" href="/static/root/lib/wangEditor/dist/css/sublime.css" />
<!--[if IE 6]>
<![endif]-->