{% extends "_root_base.html" %}
{% load custom_markdown %}
{% block wrapper %}
    <div class="content-body">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                {% if article.type == 'html' %}
                <div id="edit_block">
                    <p>{{ article.content|safe }}</p>
                </div>
                {% else %}

                <textarea style="width: 100%;height: 300px">
                    {{ article.content }}
                </textarea>
                {% endif %}
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="form-group">
                    <input type="text" class="form-control" value="{{ article.title }}">
                </div>

            </div>
            <div class="col-lg-4 col-md-4">
                <div class="form-group">
                    <input type="text" class="form-control" name="image_url" value="{{ article.image_url }}">
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                    <section class="form-group selectpicker" multiple>
                        {% for tag in article.tags.all %}
                            <option value="{{ tag.id }}">{{tag.tag}}</option>
                        {% endfor %}
                    </section>
            </div>
            <button id="add" class="btn btn-primary" edit="{{ article.id }}">确定</button>

        </div>
    </div>


{% endblock %}
{% block custom_js %}

    <script>

        $(function () {
            var editor = new wangEditor('edit_block');
            editor.create();
{#            $('#edit_block').html({{ article.content }});#}
{#            editor.$txt.html('{{ article.content }}');#}
{#            $.ajax({#}
{#                url: "/root/api/article/13",#}
{#                method: "get",#}
{#                success: function (result) {#}
{#                    $('#edit_block').html(result.content);#}
{#                }#}
{#            });#}
{##}
            $('#add').click(function () {
                var id = $(this).attr('edit');
                {% if article.type == 'markdown' %}
                    var content = $('textarea').html();

                    {% else %}
                    var content = editor.$txt.html();

                {% endif %}
                $.ajax({
                    url: "/root/api/article/" + id,
                    method: "PUT",
                    contentType:"application/json; charset=utf-8",
                    dataType:"json",
                    data: JSON.stringify({
                        content: content,
                        image_url: $('input[name=image_url]').val(),
                    }),
                    success: function (result) {
                        if (result.data === "success") {
                            alert("更新成功");
                        } else {
                            alert("更新失败");
                        }
                    },
                    error: function () {
                        alert("更新失败");
                    }
                });
            });
        });

    </script>
{% endblock %}