html, body {
    background-color: #2F4052;
    /*background: url(/static/image/1.jpg) no-repeat 0px 0px;;*/
    /*background-attachment: fixed;*/
}

.base-logo {
    width: 150px;
}

.wihite-block {
    /*background-color: white;*/
    padding: 10px 10px;
    margin: 20px 0px;
    border-radius: 5px;
/ / padding: 15 px;
}

#wrapper {
    position: absolute;
    top: 60px;
    width: 100%;
/ / background: #0f181d;
/ / color: white;
}

.right-avator-bar {

}

.navbar-default .navbar-nav > li > a {
    color: #313131;
}

.navbar-default {
    background-color: #fff;
/ / border-color: #3b8cff;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #333;
 background-color: #0b93fa;
}

.navbar-default .navbar-brand {
    color: #313131;
}

.navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
    /* background-color: white; */
    font-size: 13px;
}

.navbar-toggle {
    margin-top: 13px;
    background-color: #555;
}

.navbar-brand {
    float: left;
    height: 60px;
    padding: 15px 20px;
    font-size: 20px;
    line-height: 27px;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #ffffff;
}

.blue-button {
    background-color: #3b8cff;
    float: right;
}

img#avator {
    width: 200px;
    height: 200px;
    -webkit-transition: transform 1s;
    /*transform 旋转属性
    transition 过度属性  定义过度属性为旋转属性 过度时间为1s
     */
}

img#avator:hover {
    transform: rotate(360deg);
    /*鼠标移动头像 旋转360度   触发过度属性定义的旋转属性*/
}

@-webkit-keyframes mymove /* Safari and Chrome */
{
    /*http://www.runoob.com/cssref/css3-pr-animation-keyframes.html*/
    0% {
        transform: rotate(0deg);
    }
    100% {;
    }
}

.panel-black > .panel-heading {
    color: #ddd;
    background-color: #101010;
    border-color: #ddd;
}

.btns {
    width: 137px;
    padding: 6px 0 0 0;
}

/**/

.pagination {
    margin: 0 0 35px;
    text-align: center;
    display: block;
}

.pagination a {
    text-align: center;
    display: inline-block;
    color: #ffffff;
    background: #f4645f;
    border-radius: 2px;
}

.pagination .page-number {
    background: #f4645f;
    color: #ffffff;
    margin: 0 3px;
    display: inline-block;
    line-height: 36px;
    padding: 0 14px;
    border-radius: 2px;
}

/*article*/
.article-detail .post-head a {
    color: #101010;
}

.article-detail.article-block {
    padding: 30px 30px;
    background: #ffffff;
/ / margin-bottom: 35 px;
    position: relative;
    overflow: hidden;
    margin: 20px 0px;
    border-radius: 10px;
}

.note-list .article-block {
    padding: 20px 0px 20px 10px;
    background: #ffffff;
/ / margin-bottom: 35 px;
    position: relative;
    overflow: hidden;
    margin: 20px 0px;
    border-radius: 5px;
}

.article-block .post-head {
    text-align: center;
    color: #959595;
}

.article-block .featured-media {
    margin-top: 30px;
    overflow: hidden;
}

.article-block .post-content {
    margin: 30px 0;
}

.article-block .post-footer {
    margin-top: 30px;
    border-top: 1px solid #ebebeb;
    padding: 21px 0 0;
}

a img {
    outline: none;
}

.article-block .featured-media img {
    width: 100%;
}

/*article*/

.tag > .btn {
    margin: 0 7px 7px 0;
    color: white;
    float: left;
}

/*.tag a:hover {*/
/*color: #ffffff;*/
/*background: #f4645f !important;*/
/*/ / border: 1 px solid #f4645f;*/
/*text-decoration: none;*/
/*}*/

/**/

/*footer*/
.main-footer {
    background: #202020;
    padding: 35px 0 0;
    color: #959595;
    margin-top: 20px;
}

.copyright {
    background: #111;
    font-size: 13px;
    text-align: center;
    color: #555;
    padding-top: 14px;
    padding-bottom: 20px;
    border-top: 1px solid #303030;
}

.copyright a {
    color: #555;
}

.widget {
    margin-bottom: 35px;
}

.widget .title {
    margin-top: 0;
    padding-bottom: 7px;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 21px;
    position: relative;
}

.main-footer .widget .tag-cloud a {
    border: 1px solid #303030;
}

.widget .friend-links a:hover {
    color: #fff;
    text-decoration: none;
}

.main-footer .widget .tag-cloud a:hover {
    border: 1px solid #337ab7;
}

.widget .tag-cloud a:hover {
    color: #fff;
    background: #337ab7;
    border: 1px solid #337ab7;
    text-decoration: none;
}

.widget .friend-links a {
    display: block;
    border-bottom: 1px dashed #303030;
    padding-bottom: 14px;
    margin-bottom: 14px;
    color: #959595;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.widget .tag-cloud a {
    border: 1px solid #ebebeb;
    padding: 2px 7px;
    color: #959595;
    line-height: 1.5em;
    display: inline-block;
    margin: 0 7px 7px 0;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

/*footer*/

/*go top*/
#go_top {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    padding: 9px;
    color: aliceblue;
    font-size: 20px;
    border: 0px;
    display: none;
    background-color: #eb19c1;
    border-radius: 50px;
    outline: none;
    z-index: 100;
}

/*去掉a标签的下划线*/

a:hover {
    text-decoration: none;
}

/*简书 小图标*/
/*@font-face {
    font-family: iconfont;
    src: url(/static/font/iconfont-886232fe88f40ee4d415a63c5d4b75b7.eot);
    src: url(/static/font/iconfont-886232fe88f40ee4d415a63c5d4b75b7.eot) format("embedded-opentype"), url(/static/font/iconfont-aae62f92a9d619b3cc104d23301a52ea.woff) format("woff"), url(/static/font/iconfont-d78c8b30a940c228d52a06b52d0b2c85.ttf) format("truetype"), url(/static/font/iconfont-63bb4bf7ade3f839c68b1a63f7b90a44.svg) format("svg")
}*/
ul.relation li {
    margin: 0 3px;
    display: inline-block;
}

.right-author-bar a {
    width: 50px;
    height: 50px;
    background-color: hsla(0, 0%, 71%, .2);
    border-radius: 50%;
    line-height: 50px;
    display: block;
    cursor: pointer;
    margin: 0px auto;
}

.right-author-bar i.fa.fa-2x {
    margin-left: 12px;
    margin-top: 9px;
    font-size: 24px;

}

.right-author-bar .weixin {
    color: #fff;
    background-color: #00bb29;
}

.right-author-bar .github {
    color: #fff;
    background-color: #e05244;
}

.right-author-bar .qq {
    color: #fff;
    background-color: #498ad5;
}

/*简书*/

.note-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.note-list li {
    position: relative;
    width: 100%;
/ / border-bottom: 1 px solid #f0f0f0;
    word-wrap: break-word;
    line-height: 20px;
}

/*.note-list  .wrap-img {*/
/*width: 125px;*/
/*height: 100px;*/
/*}*/

.note-list .wrap-img img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 1px solid #f0f0f0;
}

/*.note-list .have-img>div {*/
/*padding-right: 135px;*/
/*}*/

.note-list .time-and-tag-block {
    margin-bottom: 10px;
}

.note-list .author {
    margin-bottom: 14px;
    font-size: 13px;
}

.note-list .title {
    margin: -7px 0 4px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
    color: #0A0;
    text-decoration: none;
}

.note-list .title:visited {
    text-decoration: none;
}

.note-list .abstract {
    margin: 0 0 8px;
    font-size: 13px;
    line-height: 24px;
}

.note-list .meta {
    padding-right: 0 !important;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}

.note-list .post-date {
    color: #959595;
}

/*点赞*/
.praise-list .list-group-item {
    margin-bottom: 20px;
}

#go_parise {
    position: fixed;
    bottom: 50px;
    left: 0px;
    padding: 9px;
    color: aliceblue;
    border: 0px;
    display: none;
    outline: none;
    z-index: 100;
}

.post-meta .praise {
    color: #d9534f;
}

ul.recent-article {
    width: 90%;
    margin: auto;
    display: block;
    list-style: none;
    padding: 0px;
}

.recent-article > li {
    width: 100%;
    padding: 15px 0;
    border-bottom: 1px dashed #ccc;
    overflow: hidden;
    position: relative;
}

.recent-article > li > .meta {
    float: right;
}

.recent-article > li > a {
    font-size: 13px;
    color: #777;
}

.recent-article > li > span {
    display: inline-block;
    width: 20px;
    height: 23px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    text-align: center;
    font-size: 12px;
    margin-right: 10px;
    color: #fff;
}

.recent-article > li:nth-of-type(1) > span {
    background: #e71555;
}

.recent-article > li:nth-of-type(2) > span {
    background: #16d083;
}

.recent-article > li:nth-of-type(3) > span {
    background: #ff6700;
}

.recent-article > li:nth-of-type(4) > span {
    background: #857479;
}

.recent-article > li:nth-of-type(5) > span {
    background: #857479;
}

.recent-article > li:nth-of-type(5) > span {
    background: #857479;
}

/**/

@keyframes fushang {
    0% {
        transform: translateY(-300px);
        -webkit-transform: translateY(-300px);
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes fuzuo {
    0% {
        transform: translateX(-300px);
        -webkit-transform: translateX(-300px);
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes fuxiasuo {
    0% {
        -webkit-transform: translateY(300px);
        transform: translateY(300px);
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }
}

.note-list .article-block {
    animation: fuzuo 1.8s;
}

.article-block.article-detail {
    animation: fuzuo 1.8s;
}

div.wihite-block {
    animation: fuxiasuo 1s;
}

/*------------*/
.welcome.panel-default{
    border-color: #5d9fa5;
}
.welcome .panel-body {
    background-color: #5d9fa5;
    position: relative;

}
#skPlayer{
    cursor: move;
    position:fixed;
    left:0px;
    top:60px;
    z-index: 1050;
}
.switch {
position: absolute;
    top: 10px;
    right: -25px;
    width: 25px;
    height: 68px;
    line-height: 68px;
    text-shadow: none;
    background-color: rgba(0,255,0,.6);
    border-radius: 0 5px 5px 0;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.3);
    color: #fff;
    font-size: 2em;
    text-align: center;
    cursor: pointer;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}
#skPlayer.skPlayer-red .skPlayer-control{
        box-sizing:initial;
}

#skPlayer .skPlayer-list{
}