html,body{
    background-color: #ebebeb;
}
.wihite-block {
    background-color: white;
    padding: 2px 10px;
    margin: 20px 0px;
}

#wrapper {
    position: absolute;
    top: 60px;
    width: 100%;
    //background: #0f181d;
    //color: white;
}


.about{
    border-radius: 3px;
    padding: 15px;
}
.about>h1{
    text-align: center;
}
.navbar-default .navbar-nav>li>a{
    color : #ffffff;
}
.navbar-default{
    background-color: #3b8cff;
    border-color: #3b8cff;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    color: #ede1eb;
    background-color: #0b93fa;
}

.navbar-default .navbar-brand{
    color: #ffffff;
}

.navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
    /* background-color: white; */
    font-size: 18px;
}
.navbar-toggle {
    margin-top: 13px;
    background-color: #e8e0e0;
}
.navbar-brand {
    float: left;
    height: 60px;
    padding: 15px 20px;
    font-size: 20px;
    line-height: 27px;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{
    color: #ffffff;
}

.blue-button{
    background-color: #3b8cff;
    float: right;
}
img#avator{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin: auto 60px;
}


.wrap{
    position: absolute;
    left: 50%;
    top: 6px;
    z-index: 15;
    width: 980px;
    height: 47px;
    margin: 0 auto;
}
.btns{
        width: 137px;
    padding: 6px 0 0 0;
}

/**/

.pagination {
    margin: 0 0 35px;
    text-align: center;
    display: block;
}
.pagination a {
    text-align: center;
    display: inline-block;
    color: #ffffff;
    background: #f4645f;
    border-radius: 2px;
}
.pagination .page-number {
    background: #f4645f;
    color: #ffffff;
    margin: 0 3px;
    display: inline-block;
    line-height: 36px;
    padding: 0 14px;
    border-radius: 2px;
}


/*article*/

.article-block {
    padding: 35px;
    background: #ffffff;
    //margin-bottom: 35px;
    position: relative;
    overflow: hidden;
    margin: 20px 0px;
}

.article-block .post-head{
    text-align: center;
    color:#959595;
}

.article-block .featured-media {
    margin-top: 30px;
    overflow: hidden;
}
.article-block .post-content {
    margin: 30px 0;
}

.article-block .post-footer {
    margin-top: 30px;
    border-top: 1px solid #ebebeb;
    padding: 21px 0 0;
}

a img {
    outline: none;
}
.article-block .featured-media img {
    width: 100%;
}


/*article*/

/*tag*/
.tag a {
    border: 1px solid #ebebeb;
    padding: 2px 7px;
    //color: #959595;
    color: #ffffff;
    line-height: 1.5em;
    display: inline-block;
    margin: 0 7px 7px 0;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;

    text-decoration: none;
    background-color: transparent;
    outline: none;
}

.tag a:hover {
    color: #ffffff;
    background: #f4645f !important;
    //border: 1px solid #f4645f;
    text-decoration: none;
}

/**/


/*footer*/
.main-footer {
    background: #202020;
    padding: 35px 0 0;
    color: #959595;
    margin-top: 20px;
}
.copyright {
    background: #111;
    font-size: 13px;
    text-align: center;
    color: #555;
    padding-top: 14px;
    padding-bottom: 20px;
    border-top: 1px solid #303030;
}
.copyright a {
    color: #555;
}
.widget {
    margin-bottom: 35px;
}
.widget .title {
    margin-top: 0;
    padding-bottom: 7px;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 21px;
    position: relative;
}

.main-footer .widget .tag-cloud a {
    border: 1px solid #303030;
}
.widget .friend-links a:hover {
    color: #fff;
    text-decoration: none;
}



.main-footer .widget .tag-cloud a:hover {
    border: 1px solid #337ab7;
}
.widget .tag-cloud a:hover {
    color: #fff;
    background: #337ab7;
    border: 1px solid #337ab7;
    text-decoration: none;
}
.widget .friend-links a {
    display: block;
    border-bottom: 1px dashed #303030;
    padding-bottom: 14px;
    margin-bottom: 14px;
    color: #959595;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.widget .tag-cloud a {
    border: 1px solid #ebebeb;
    padding: 2px 7px;
    color: #959595;
    line-height: 1.5em;
    display: inline-block;
    margin: 0 7px 7px 0;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}
/*footer*/


/*go top*/
#go_top {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 50px;
    bottom: 50px;
    padding: 9px;
    color: aliceblue;
    font-size: 20px;
    border: 0px;
    display: none;
    background-color: #eb19c1;
    border-radius:50px;
    outline:none;
    z-index: 100;
}

/*去掉a标签的下划线*/

a:hover{
    text-decoration: none;
}
