<!DOCTYPE html>
{% load static %}
{% load custom_markdown %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% if article.title %}
            {{ article.title }}
        {% else %}
            {{ blog }}
        {% endif %}

    </title>
    <meta content='width=device-width,initial-scale=1,maximum-scale=1' name='viewport'>
    <meta name="keywords" content="python,linux,mysql,django博客，flask，编程,开发,运维,云计算,网络,互联网"/>
    <meta name="description" content="杨洋个人主页，采用django+bootstrap+mysql制作,主要记录自己在工作和学习中的问题"/>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/bootstrap/font-awesome-4.7.0/css/font-awesome.min.css"/>
    {#    <link rel="stylesheet" href="/static/player/skPlayer.min.css"/>#}
    <link rel="stylesheet" href="/static/play3/skPlayer.css"/>
    <link rel="stylesheet" href="/static/css/main.css"/>


    <script src="{% static 'jquery-3.2.1.js' %}"></script>

    {% block custom_css %}
        <style>
            {#        .touming{#}
            {#            opacity: 0.5;#}
            {#        }#}
            #chat_modal .modal-content {
                height: 496px;
            {#                background-image: url(http://p3.music.126.net/bUo74IWbS79FT1JDDME1Fw==/18889609765365752.jpg);#}
            }

            #client ul > li {
                background-color: none;
                border: none;
            }
        </style>

    {% endblock %}
</head>
<body>
<!--导航条start-->
{% include "base_header.html" %}
<!--导航条end-->
<div id="wrapper">
    {% block wrapper %}
    {% endblock %}

    <!--footer-->
    {% include "base_footer.html" %}
    <!--footer-->
    <div id="skPlayer">

    </div>
</div>

<!--websocket modal -->
<!-- 模态框（Modal） -->
<div class="modal fade" id="chat_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="chatroom-title">golang websocket聊天室</h4>
            </div>
            <div class="modal-body" style="overflow: hidden">
                <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12 touming" style="height: 300px;overflow: auto">
                    <ul class="list-group" id="client">
                    </ul>
                </div>
                {#                <div class="col-lg-4 col-md-4">#}
                {#                    <ul class="list-group" id="online"></ul>#}
                {#                </div>#}
            </div>
            <div class="modal-footer">
                <input type="text" class="form-control form-inline touming" name="send_input"
                       onkeypress="if (event.keyCode == 13) $('#sub_send').click();"
                       style="margin-bottom: 10px">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-success" id="sub_send">发送</button>


            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<button class="btn btn-danger chat" id="chatroom" type="button" data-toggle="modal" data-target="#chat_modal">聊天室
</button>

<!--websocket modal -->

<button class="btn" id="go_top" type="button"><i class="fa fa-rocket"></i></button>
</body>
<script src="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.js"></script>
<script src="{% static 'js/jquery.ui.touch.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'article/md.js' %}"></script> <!--转换一些表格图片-->
<script src="{% static 'play3/out_skPlayer.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/headroom.js' %}"></script>
{#<script src="{% static 'player/skPlayer_modify.js' %}"></script>#}

<script>
    {#    skPlayer({#}
    {#      music:750181235 ,//歌单id(登陆网页版网易云音乐，进入歌单详情后，在url中可找到歌单id，例：'http://music.163.com/#/playlist?id=317921676'),#}
    {#       theme:'red'#}
    {#        //loop:true,#}
    {#   });#}

    var initPlayer = function (type, id) {
        var player = new skPlayer({
            autoplay: true,
            listshow: true,
            music: {
                type: type || 'cloud',
                //必需项,网易云方式指定填'cloud'
                source: id || 321674374
            }
        });
        $("#skPlayer").show();
        return player
    };
    $(function () {
        $("#skPlayer").hide();
    });
    var togglePlayer = function () {
        $("#skPlayer").toggle()
    };
    var switchPlay = function (type, play_id) {
        instance = false;
        var player = initPlayer(type, play_id);
        $("#skPlayer").draggable({handle: ".skPlayer-picture"}); //点击图片可以移动

        player.oldPlay = player.play;
        player.oldPause = player.pause;
        player.play = function () {
            player.oldPlay();
            $(".right-avator-bar img").attr("src", player.dom.cover.src);
            $(".right-avator-bar img").addClass("xuanzhuan");
        };
        player.pause = function () {
            player.oldPause();
            $(".right-avator-bar img").removeClass("xuanzhuan");
        };
        $('.qq').off('click').click(function () {
            player && player.next();
        });
        $('.github').off('click').click(function () {
            player && player.prev();
        });
        $('.facebook').off('click').click(function () {
            player.audio.paused ? player.play() : player.pause();
        });
        $('.google').off('click').click(function () {
            player.toggleMute();
        });
    };
    var switchDiv = function () {
        var play = $("#skPlayer");
        var width = "380px";
        if (play.css("width") == "100px") {
            play.css("width", width);
            $(".skPlayer-control").css("display", "block")
        } else if (play.css("width") == width) {
            play.css("width", "100px").removeClass("skPlayer-list-on");
            $(".skPlayer-control").css("display", "none")
        }

    };
    $(document).on('submit', 'form[music-pjax]', function (event) {
        switchPlay('keywords', $('input[name=key]').val());
        console.log($('input[name=key]').val());
        $.pjax.submit(event, '#left-container', {fragment: '#left-container'});

    });


</script>
{% block custom_js %}
{% endblock %}
<script>
    $(function () {
        var header = new Headroom(document.getElementById("header"), {
            tolerance: 10,
            offset: 80,
            classes: {
                initial: "",
                // 向上滚动时设置的class
                pinned: "navbar-fixed-top",
                // 向下滚动时所设置的class
                unpinned: ""
            }
        });
        header.init();
        $("[data-toggle='tooltip']").tooltip();
        $("section").addClass("mysection");
        $("body").show();

        //代码换行握草；
        $('pre').each(function () {
            var sty = $(this).attr('style');
            $(this).replaceWith('<pre style="' + sty + '"><code>' + $(this).html() + '</code></pre>').css("padding", "10px");
        });
        $('blockquote').each(function () {
            $(this).css("border-left", "5px solid #087cf4").css("background-color", "#d9534f");
        });
    });
    //
    <!--websocket modal -->
    $(function () {
        var ws = new WebSocket('ws://' + window.location.hostname + ':8081/ws');
        var client = $('#client');
        var online = $('#chatroom-title');
        //用户获取一个随机图片
        {#        var image = null;#}
        {#        $.get({#}
        {#            url: "/music/api/randompic",#}
        {#            async: false,#}
        {#            success: function (response) {#}
        {#                image = response;#}
        {#            }#}
        {#        });#}
        ws.onopen = function () {
            console.log("open");
        };
        ws.onmessage = function (e) {
            var data = JSON.parse(e.data);
            {#            if (data.Image != "" || data.Image != " ") {#}
            {#                image = data.Image;#}
            {#            }#}
            if (data.Online !== 0) {
                //第一次连接推送消息
                online.text("golang websocket聊天室 当前在线:" + data.Online);

                //每次有人连接 更新标题
            }
            //后端向所有客户端推送消息
            if (data.Message !== null) {
                $('<li class="list-group-item" style="background: none;border:none"><image ' +
                    'style="width:50px;height:50px;border-radius:50px" ' +
                    'src=' + data.Image + '/>' + data.Ip + ":" + data.Message.message + '</li>').appendTo(client);
            }


            console.log(data);
        };
        ws.onclose = function (e) {
            console.log("close");
        };
        $("#sub_send").click(function () {
            var clientlist = $("#clientlist");
            var message = $('[name=send_input]').val();
            ws.send(JSON.stringify({
                    message: message,
                })
            );
            $('[name=send_input]').val('');
        });
    });
    //
    <!--websocket modal -->
</script>
</html>