{% extends "base.html" %}
{% block wrapper %}
    <div class="container" style="position: relative">
        <div id="content-header">

        </div>
        <div class="row" style="margin-top: 40px">

            <div id="left-container" class="col-xs-12 col-md-8 col-lg-8">

                {% block left-container %}

                {% endblock %}
            </div>
            <div id="right-container"
                 class="col-xs-12 col-md-4 col-lg-4  hidden-xs" style="position: relative">
                <!--xs 手机隐藏 md平板 lg电脑 8 1 3-->


                {% block right-container %}
                    <div class="wihite-block">
                        <div class="right-avator-bar">
                            <img class="img-circle img-responsive center-block" id="avator" src="{{ AVATOR }}"/>
                        </div>
                        <div class="row right-author-bar">
                            <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                                <a class="github" data-toggle="tooltip" data-placement="top"
                                   title="上一曲"
                                   href="javascript:;" target="_blank"><i
                                        class="fa fa-backward fa-2x" style="margin-right: 14px;"></i></a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                                <a class="weixin" href="javascript:togglePlayer();" data-toggle="tooltip" data-placement="top" title="隐藏/显示"><i class="fa fa-2x  fa-music"></i></a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                                <a class="qq" target="_blank" data-toggle="tooltip" data-placement="top" title="下一曲" href="javascript:;"><i
                                        class="fa fa-forward fa-2x"></i></a>
                            </div>
                        </div>
                    </div>
{#                    <div class="wihite-block muisc-pannel">#}
{#                    </div>#}
                    {#                    <div class="panel panel-default welcome">#}
                    {#                        <div class="panel-body ">#}
                    {#                            <i class="fa fa-linux"></i>欢迎#}
                    {#                        </div>#}
                    {#                        {% include "163.html" %}#}
                    {#                    </div>#}
                    <div class="panel panel-default panel-black">
                        <div class="panel-heading">
                            <h3 class="panel-title">标签云</h3>
                        </div>

                        <div class="panel-body">
                            <div class="right-tag-bar">
                                <div class="tag">
                                    {% for tag in tags %}
                                        <a href="{% url 'tag_list' tag=tag page='' %}" class="btn"
                                           style="background-color: {{ tag.color }}">{{ tag.tag }}({{ tag.articles.all|length }})</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default panel-black">
                        <div class="panel-heading">
                            <h3 class="panel-title">年月归档</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                                {% for y,m,c in year_month_number %}
                                    <li class="list-group-item"><a
                                            href="{% url 'year_month_list' year=y month=m page='' %}">{{ y }}年{{ m }}月({{ c }})</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="panel panel-default panel-black">
                        <div class="panel-heading">
                            <h3 class="panel-title">最近文章</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="recent-article">
                                {% for num,article in recently_articles %}
                                    <li class="recent-article-item">
                                        <span>{{ num }}</span>
                                        <a href="{% url 'article_detail' id=article.id %}">{{ article.title }}</a>
                                        <div class="meta">
                                            <time datetime="{{ article.date_time|date:'Y年m月d日 H时M分' }}">
                                                {{ article.date_time|date:'Y-m-d' }}</time>
                                            <i class="fa fa-eye"></i> {{ article.view }}
                                        </div>

                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                {% endblock %}
            </div>
        </div>

    </div>
{% endblock %}
