{% extends "blog_base.html" %}
{% load static %}
{% block left-container %}
    <style>
        .search-play {
            width: 50px;
            height: 50px;
            padding: 9px;
            color: aliceblue;
            font-size: 16px;
            border: 0px;
            background-color: #158816;
            border-radius: 50px;
        }

        .search-plus {
            width: 50px;
            height: 50px;
            padding: 9px;
            color: aliceblue;
            font-size: 16px;
            border: 0px;
            background-color: #e71555;
            border-radius: 50px;
        }
    </style>
    <article class="article-block article-detail">
        <div class="form-group">
            <form music-pjax method="post" action="/music/search">
                <input class="form-control" type="text" placeholder="想听什么搜什么" name="key">
            </form>

        </div>
    </article>
    {% if key %}
        <article class="article-block article-detail">
        <p>最近搜索关键字 缓存1小时</p>
            {% for k in key %}
                <button class="btn btn-success" onclick="switchPlay('keywords','{{ k }}')">{{ k }}</button>
            {% endfor %}

        </article>
    {% endif %}

{% endblock %}
{% block custom_js %}
{% endblock %}


